@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#fade-image {
  width: 200;
  height: auto;
  mask-image: radial-gradient(circle, transparent 60%, black 100%);
  -webkit-mask-image: radial-gradient(circle, transparent 60%, black 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bounce-custom {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}